/* ======= Main menu variables ======= */
/* ======= Sub menus common variables ======= */
/* ======= First level sub menu variables ======= */
nav {
  float: none;
}
/* Main menu styles
========================================================*/
.sf-menu > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
  text-align: center;
}
.sf-menu > li + li {
  margin-left: 49px;
}
.sf-menu > li > .sf-with-ul:before {
  display: block;
  position: absolute;
  width: 7px;
  height: 5px;
  content: '';
  background: url(../images/arrow1.png) no-repeat center top;
  overflow: hidden;
  top: -15px;
  left: 50%;
  margin-left: -3px;
}
.sf-menu > li > a {
  text-transform: uppercase;
  font: 800 12px/12px "Open Sans", sans-serif;
  display: inline-block;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #e1f4bd;
}
.sf-menu > li > a:hover {
  color: #ffffff;
}
.sf-menu .sfHover > a {
  color: #ffffff;
}
.sf-menu .sfHover > a:after {
  color: #ffffff;
}
.sf-menu > li.current > a {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.13);
  color: #ffffff;
}
.sf-menu > li.current > a:after {
  color: #ffffff;
}
/* First level sub-menu styles
========================================================*/
.sf-menu ul {
  border-radius: 4px;
  display: none;
  min-width: 170px;
  font: 800 12px/12px "Open Sans", sans-serif;
  position: absolute;
  top: 27px;
  left: 50%;
  margin-left: -85px;
  background: #393939;
  text-align: center;
  padding: 28px 0 31px 0;
  z-index: 2;
}
.sf-menu ul > li + li {
  margin-top: 18px;
}
.sf-menu ul li {
  position: relative;
  display: block;
}
.sf-menu ul li > .sf-with-ul:before {
  display: block;
  font-family: FontAwesome;
  font-size: 10px;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  cursor: default;
  content: "\f0da";
  color: #fbfbf3;
  bottom: -1px;
  right: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sf-menu ul li a {
  color: #fbfbf3;
  text-transform: uppercase;
}
.sf-menu ul li a:hover {
  color: #98b84b;
}
.sf-menu ul > .sfHover > a {
  color: #98b84b;
}
.sf-menu ul > .sfHover > a:after {
  color: #98b84b;
}
/* Second level sub-menu styles
========================================================*/
.sf-menu ul ul {
  position: absolute;
  top: -26px;
  left: 171px;
  margin-left: 0;
  z-index: 4;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .sf-menu {
    display: none;
  }
  nav {
    width: 100%;
    float: none;
  }
  .select-menu {
    border-radius: none;
    display: block;
    text-transform: capitalize;
    float: none;
    color: #90af48;
    width: 100%;
    background: #ffffff;
    font: 800 12px/12px "Open Sans", sans-serif;
    text-align: left;
    border: 1px solid #c1c1c1;
    padding: 2px 0;
    position: relative;
  }
  .select-menu option {
    text-align: left;
    position: relative;
  }
}
/*Core variables and mixins*/
